{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8" />

  <title>Headeche</title>

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="description" content="" />

  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

  <div class="container">
    <h1> Employee list </h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
    {% for emp in employees %}
    <tr>
      {% comment %} <th>{{emp.id}} </th> {% endcomment %}
      <th>{{ forloop.counter }}</th>
      <td>{{emp.first_name}} {{emp.last_name}} </td>
      <td> {{emp.designation}} </td>
      <td>{{emp.phone_number}}</td>
    </tr>
    {% endfor %}
  
    
  </tbody>
</table>

<img src="{% static 'images/employee.jpg' %}" alt="Employee Image">

   </div>

   {% comment %} {{ employees }}  {% -- This is a comment in Django template syntax --%} AND {{ }} this is the template variable syntax {% endcomment %}
   
   {% comment %} {% for employee in employees %} 
       <p>{{ employee }}</p> 
   {% endfor %} {% endcomment %}


</body>

</html>